# Ignore all
/**
/.**

!/LICENSE
!/README.md

# Requirements
!/requirements/**

# Git
!/.gitconfig
!/.gitignore_global

# Vim
!/.vimrc
!/.gvimrc
!/.vim/_config/**
!/.vim/ftplugin/**
!/.vim/coc-settings.json
