# Ignore all
/**
/.**

!/LICENSE
!/README.md

# Bin
!/bin/

# Requirements
!/requirements/

# Git
!/.gitconfig
!/.gitignore_global

# Vim
!/.vimrc
!/.gvimrc
!/.vim/_config/**
!/.vim/ftplugin/**
!/.vim/coc-settings.json

# ZSH
!/.zshenv
!/.zshrc
!/.shell_common
